/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.10.2019, 02:29:07
    Author     : Nico
*/

section.jumbotron > img{
    width: 100%;
}


div.thumbnail{
    position: relative;
    border-style: none;
    
}

figure.popup{
    visibility: hidden;
    display: block;
    z-index: 100;
    left: 0;
    bottom: 0;
    display: block;
    padding-top: 5px;
}

figure.popup>p{
    text-align: center;
}
figure.popup~img.img-circle.img-responsive{
    display: block;
}

h1{
    font-style: italic;
    color: #262626;
    font-family: "Times New Roman";
    font-weight: bold;
}

h2{
    text-align: center;
}

#storelocation > img{
    width: 100%;
    max-width: 500px;
    margin: 5px;
}

.navbar-brand > img{
    width: 80px;
    display: inline-block;
}



.thumbnail>img{
    width: 150px;
}

