
/*-------footer css-------*/
.footer 
{   
    background-color: #2f2f2f;
    color: #ffffff;
    margin: 0px;
    padding: 10px 10px;
    font-family: Arial;
    position: relative;
    padding-bottom: 0;
}

.foot a
{
    color: #ffffff;
}

.footer .row .fa
{
    padding-right: 10px;
       
}
