/*------------header css------------*/
.navbar-brand{  
    float: none;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%, -50%);
  }
  
  .navbar-nav li:hover {
    background-color: rgb(80, 80, 80);
    transition: transform .5s, background-color 1.5s ease-in-out;
    transform: scale(1.05);
  }
  .navbar-right{
    padding-right: 10px;
  }
  nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
  }


  /*-------footer css-------*/
.footer 
{   
    background-color: #2f2f2f;
    color: #ffffff;
    margin: 0px;
    padding: 10px 10px;
    font-family: Arial;
    position: relative;
    padding-bottom: 0;
}

.foot a
{
    color: #ffffff;
}

.footer .row .fa
{
    padding-right: 10px;
       
}

#footer {
  position: absolute; bottom: 0px; left: 0;
  width: 100%;
  height:auto;
  }