/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Sep 2019, 3:13:46 AM
    Author     : Aaron Chua
*/
img
{
    max-width: 100%;
    height: auto;
}


/*-----carousel css--------*/

.slider
{ 
    max-width: 100%;
    max-height: 20%;
}

.carousel
{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);  
}

.carousel-indicators
{
    z-index: 1 !important; 
}

/*-----product css-----*/
.card 
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    font-family: arial;
}
.card:hover
{
    box-shadow: 0 0 15px 5px;
    cursor: pointer;    
    transition: 0.5s; 
} 

.price {
  color: grey;
  font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}


.star-rating {
    line-height:32px;
    font-size:1.25em;
}

.star-rating .fa
{
    color: orange;
}

.container-fluid hr
{
    margin-bottom: 40px;
}

/*--------overlay-----------------*/

.overlay-right
{
    display: block;
    opacity:0;
    position:absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

.overlay-right .fa
{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
    height:35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary
{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.card:hover .overlay-right
{
    opacity:1;
    transition: 0.5s;
}




/*New arrival*/

.title-box
{
    background:orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 60px;
    margin-top: 40px;
    margin-left: -350px;
    display: flex;
}

.title-box h2
{
    font-size: 24px;
    text-align: center;
}

.title-box::after
{
    content:'';
    border-top:  40px solid orange;
    border-right: 50px solid transparent;
    position:absolute;
    display:flex;
    margin-top: -4px;
    margin-left: 160px;
}


/*-------review css-------*/
.review
{
    margin: 50px auto;
    
}

.review h1
{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.review p
{
    text-align: center;
    font-size: 30px;
}
.review h1::after
{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 400px;
    margin: 20px auto 5px;
    
}

.review .row
{
    margin-top: 120px;
    z-index: 1;
   
}

.col-md-4
{
    padding: 10px;   
   
}

.profile
{
    padding: 80px 20px 20px;
    background-color: #efefef;
    
}
.profile img
{
    top: -60px;
    position: absolute;
    left: calc(50% - 70px);
    border: 2px solid white;
    
}

.user
{
    width: 140px;
    height: 130px;
    border-radius: 50%;
        
}

.profile h2
{
    fontsize: 20px;
    margin-top: 15px;
    color: #ff9800;
}
 span
 {
     font-size: 12px;
     color: #333;
 }

 blockquote
 {
     font-size: 16px;
     line-height: 30px;
 }
 
 blockquote::before
 {
     content: '\201C';
     font-size: 70px;
     position: relative;
     color: #ff9800;
     line-height: 20px;
     bottom: -15px;
     right: 5px;     
 }
 
 blockquote::after
 {
     content: '\201C';
     font-size: 70px;
     position: relative;
     color: #ff9800;
     line-height: 10px;
     bottom: -15px;
     left: 5px;     
 }

.profile:hover
{
    box-shadow: 0 0 15px 5px;
    cursor: pointer;    
    transition: 0.5s; 
} 

/*-----------Single Product---------------- */
.singleProduct
{
    margin-top: 70px;
}

.new-arrival
{  
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7
{
    color: #555;
       
}
.singleProduct .fa

{
  color: orange;  
}

.singleProduct .price
{
  color: orange;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}
.singleProduct input
{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.singleProduct .btn-primary
{
    background: green !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border:none;
    box-shadow:none !important;
  
}

.productDescription h3
{
    margin-top: 30px;
    color: orange;    
}

.productDescription p
{
    margin-top: 30px;
}

.productDescription hr
{
    margin-bottom: 50px;
}

.carousel-control-next,
.carousel-control-prev 
{
    filter: invert(100%);
}



/*-------footer css-------*/
.footer 
{   
    background-color: #2f2f2f;
    color: #ffffff;
    margin: 0px;
    padding: 10px 10px;
    font-family: Arial;
}

.foot a
{
    color: #ffffff;
}



