/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Oct 2019, 2:52:32 AM
    Author     : Aaron Chua
*/

/*Responsive Form CSS - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form */
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: large;
}

input[type=submit] {
    background-color: rgb(43, 40, 224);
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: rgb(37, 35, 170);
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*Responsive Form CSS - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form */


#review {  
    height:200px;
}

#productreview
{
    margin: 10px auto;
    
}



/* review URL = https://www.youtube.com/watch?v=qZno3Yk8QKc&t=500s Author = Easy Tutorials*/

.review
{
    margin: 100px auto;
    
}

.review h1
{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.review p
{
    text-align: center;
    font-size: 30px;
}
.review h1::after
{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 400px;
    margin: 20px auto 5px;
    
}

.review .row
{
    margin-top: 100px;
    z-index: 1;
   
}

.col-md-4
{
    padding: 30px;   
   
}

.profile
{
    padding: 80px 20px 20px;
    background-color: #efefef;
    
}
.profile img
{
    top: -30px;
    position: absolute;
    left: calc(50% - 70px);
    border: 2px solid white;
    
}

.user
{
    width: 140px;
    height: 130px;
    border-radius: 60%;
        
}

.profile h2
{
    font: 20px;
    margin-top: 15px;
    color: #ff9800;
}
 span
 {
     font-size: 12px;
     color: #333;
 }

 blockquote
 {
     font-size: 16px;
     line-height: 30px;
 }
 
 blockquote::before
 {
     content: '\201C';
     font-size: 70px;
     position: relative;
     color: #ff9800;
     line-height: 20px;
     bottom: -15px;
     right: 5px;     
 }
 
 blockquote::after
 {
     content: '\201C';
     font-size: 70px;
     position: relative;
     color: #ff9800;
     line-height: 10px;
     bottom: -15px;
     left: 5px;     
 }

.profile:hover
{
    box-shadow: 0 0 15px 5px;
    cursor: pointer;    
    transition: 0.5s; 
} 

.star-rating .fa
{
    color: orange;
}


[class*="col-"] {
    width: 100%;
}

/* review URL = https://www.youtube.com/watch?v=qZno3Yk8QKc&t=500s Author = Easy Tutorials*/

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
  


