#checkoutbutton{
    text-align: right;
}

button a{
    color: white;
}

button a:hover{
    color: white;
    text-decoration: none;
}

#pricetotal{
    text-align: right;
    font-weight: bold;
    font-size: larger;
}

#amounttotal{
    font-weight: bold;
    font-size: larger;
}