/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.10.2019, 02:29:07
    Author     : Nico
*/

body{
    padding-top: 60px;
}

#checkoutbutton{
    text-align: right;
}

button a{
    color: white;
}

button a:hover{
    color: white;
    text-decoration: none;
}

#pricetotal{
    text-align: right;
    font-weight: bold;
    font-size: larger;
}

#amounttotal{
    font-weight: bold;
    font-size: larger;
}
